@import "../../../styles/globals.scss";

// BarChart component
.simple-chart {
  &__bar-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__bar-item {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  &__bar-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }

  &__bar-label {
    color: inherit;
  }

  &__bar-value {
    font-family: var(--font-family-mono);
  }

  &__bar-track {
    width: 100%;
    background-color: var(--color-gray-200);
    border-radius: var(--border-radius-full);
    height: var(--space-2);

    [data-theme="dark"] & {
      background-color: var(--color-gray-700);
    }
  }

  &__bar-progress {
    height: var(--space-2);
    border-radius: var(--border-radius-full);
  }

  // PieChart component
  &__pie-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__pie-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &__pie-label-group {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__pie-indicator {
    width: var(--space-3);
    height: var(--space-3);
    border-radius: var(--border-radius-full);
  }

  &__pie-label {
    color: inherit;
  }

  &__pie-value {
    font-family: var(--font-family-mono);
    font-weight: var(--font-weight-medium);
  }

  // LineChart component
  &__line-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
  }

  &__line-item {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
  }

  &__line-label {
    color: inherit;
  }

  &__line-value {
    font-family: var(--font-family-mono);
  }
}
